<!--
  Generated template for the CurrentGamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar justify-content-start>
    <!--<ion-buttons col-2 left>-->
      <!--<ion-icon align-items-baseline class=" m-0 p-0"> <img [src]="menuIcon"> </ion-icon>-->
    <!--</ion-buttons>-->
    <ion-title >Current Games</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h2>Select game to play</h2>
  </ion-item>

  <div class="row">
        <div *ngIf="error" class="alert alert-warning" role="alert">
            <strong>{{ error }}</strong>
        </div>
  </div>


  <ion-list no-lines *ngFor="let game of gamesList " >
    <button ion-item (click)="selectGame(game.gameKey , game.gameMaster)">{{game.gameName}} </button>
  </ion-list>


</ion-content>
