page-home {

}

.dark-item{
  background-color: #222222;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0 0 5px 5px;
  font-size: 3vh;
}
