
<ion-header>
  <ion-navbar  justify-content-start>
    <ion-buttons menuToggle col-2 left>
      <ion-icon align-items-baseline class=" m-0 p-0"> <img [src]="menuIcon"> </ion-icon>
    </ion-buttons>
    <ion-title >Playing Board</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>
<ion-tabs >
    <ion-tab *ngIf="!isGM()" [root]="charSheetRoot" tabTitle="Character" tabIcon="walk"></ion-tab>
    <ion-tab *ngIf="isGM()" [root]="notesRoot" tabTitle="Notes" tabIcon="paper"></ion-tab>
    <ion-tab [root]="tableRoot" tabTitle="Table" tabIcon="bonfire"></ion-tab>
    <ion-tab [root]="chatRoot" tabTitle="Chat" tabIcon="beer"></ion-tab>
</ion-tabs>

</ion-content>
