page-upload-image {

}
.image-upload {
//  height: 50vw;
//  width: 50vw;
//  border: 5px solid #fff;
//  border-radius: 50%;
//  box-shadow: 0 0 5px gray;
//  display: inline-block;
    margin-left: 35%!important;
//  margin-right: auto;
}


ion-avatar > img{
  border-radius:50%;
  height:12rem;
  width:12rem;
}
.upload{
  background-color: #8f8f8f;
}
